//<script type="text/jsx">

function Usuarios() {

  const [dataSource, setDataSource] = useState([]);
  useEffect(listarUsuarios, []);
  const history = useHistory();

  function listarUsuarios() {
    google.script.run
      .withSuccessHandler(res => {
        const usuarios = JSON.parse(res);
        let arreglo = [];

        usuarios.map(usuario => {
          arreglo.push({
            key: usuario.id,
            ...usuario,
            acciones:
              <Button
                onClick={() => {
                  history.push("/formularioRegistro/" + usuario.id);
                }}>
                Editar
              </Button>
          })
        })

        setDataSource(arreglo);

      }).listarUsuarios();
  }


  const columns = [
    {
      title: 'Nombre completo',
      dataIndex: 'nombreCompleto',
      key: 'nombreCompleto',
    },
    {
      title: 'Correo',
      dataIndex: 'correo',
      key: 'correo',
    },
    {
      title: 'Contraseña',
      dataIndex: 'contrasenia',
      key: 'contrasenia',
    },
    {
      title: 'Acciones',
      dataIndex: 'acciones',
      key: 'acciones',
    },
  ];



  return (
    <Table dataSource={dataSource} columns={columns} />
  )
}



//</script>
